<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .personList {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="keyword">
        <ul>
            <li class="personList" v-for="person in personSearch" :key="person">{{ person }}</li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el : '#app',
            data: {
                keyword: '',
                persons:[
                    "佐藤",
                    "山田",
                    "鈴木",
                    "田中"
                ]
            },
            computed:{
                personSearch: function(){
                    let persons = [];
                    for(let i in this.persons){
                        let person = this.persons[i];
                        if(person.indexOf(this.keyword) !==-1){
                            persons.push(person);
                        }
                    }
                    return persons;
                }
            }
        })
    </script>
</body>
</html>